[Unit]
Description=Survival Trial map server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=centos
ExecStart=/app/bin/st-server
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
